@import "ui-variables";

// Icon for stared messages
.thread-list .thread-icon.thread-icon-star,
.draft-list .thread-icon.thread-icon-star {
  background-image: url("mailspring://theme-gruvbox/images/thread-list/icon-star-@2x.png");
}

// Icon for unread messages
.thread-list .thread-icon.thread-icon-unread,
.draft-list .thread-icon.thread-icon-unread {
  background-image: url("mailspring://theme-gruvbox/images/thread-list/icon-unread-@2x.png");
}

.column-ThreadList {
  // separator between message list and message content hard coded ...
  div[style*="border-top"] {
    border-top-color: @g-bg1 !important;
  }
}

.thread-list {
  .list-item {
    .list-column-HoverActions {

      .action.action-snooze {
        background: url('mailspring://theme-gruvbox/images/thread-list-quick-actions/ic-quickaction-snooze@2x.png') center no-repeat, linear-gradient(to top, @gray-darker 0%, @gray-base 100%);
      }

      .action.action-trash {
        background: url('mailspring://theme-gruvbox/images/thread-list-quick-actions/ic-quick-button-trash@2x.png') center no-repeat, linear-gradient(to top, @gray-darker 0%, @gray-base 100%);
      }

      .action.action-archive {
        background: url('../static/images/thread-list-quick-actions/ic-quick-button-archive@2x.png') center no-repeat, linear-gradient(to top, @gray-darker 0%, @gray-base 100%);
      }
    }
  }
}
