/*
Include the standard variables from Mailspring's base theme:
https://github.com/Foundry376/Mailspring/blob/master/app/static/style/base/ui-variables.less
*/
@import "base/ui-variables";

/**
Gruvbox Dark Palette
https://github.com/morhetz/gruvbox
*/
@g-green0: #b8bb26;
@g-green1: #98971a;
@g-green2: #79740e;
@g-yellow0: #fabd2f;
@g-yellow1: #d79921;
@g-yellow2: #b57614;
@g-orange0: #fe8019;
@g-orange1: #d65d0e;
@g-orange2: #af3a03;
@g-red0: #fb4934;
@g-red1: #cc241d;
@g-red2: #9d0006;
@g-blue0: #83a598;
@g-blue1: #458588;
@g-blue2: #076678;
@g-purple0: #d3869b;
@g-purple1: #b16286;
@g-purple2: #8f3f71;
@g-aqua0: #8ec07c;
@g-aqua1: #689d6a;
@g-aqua2: #427b58;
@g-gray0: #a89984;
@g-gray1: #928374;
@g-gray2: #7c6f64;

@g-bg0h: #1d2021;
@g-bg0: #282828;
@g-bg0s: #32302f;
@g-bg1: #3c3836;
@g-bg2: #504945;
@g-bg3: #665c54;
@g-bg4: #7c6f64;

@g-fg0: #fbf1c7;
@g-fg1: #ebdbb2;
@g-fg2: #d5c4a1;
@g-fg3: #bdae93;
@g-fg4: #a89984;
/** end gruv palette **/

@gray-base: @g-fg0;
@gray-darker: @g-fg1;
@gray-dark: @g-fg2;
@gray: @g-fg3;
@gray-light: @g-fg4;
@gray-lighter: @g-gray0;
@white: @g-bg0h;

@accent-primary: @g-green0;
@accent-primary-dark: @g-green1;

@background-primary: @g-bg0;
@background-off-primary: @g-bg0;
@background-secondary: @g-bg0h;
@background-tertiary: @g-gray0;

@border-color-primary: @g-bg1;
@border-color-secondary: @g-bg1;
@border-color-tertiary: @g-bg1;
@border-color-divider: @border-color-secondary;

@text-color: @g-fg0;
@text-color-subtle: fadeout(@text-color, 20%);
@text-color-very-subtle: fadeout(@text-color, 40%);
@text-color-inverse: @g-fg0;
@text-color-inverse-subtle: fadeout(@text-color-inverse, 20%);
@text-color-inverse-very-subtle: fadeout(@text-color-inverse, 50%);
@text-color-heading: @g-fg0;

@text-color-link: @accent-primary;
@text-color-link-hover: @accent-primary-dark;
@text-color-link-active: @accent-primary-dark;

@btn-default-bg-color: lighten(@background-primary, 5%);
@dropdown-default-bg-color: @g-bg2;

@input-bg: @g-bg1;
@input-border: @border-color-divider;

@list-bg: @g-bg0;
@list-border: @g-bg0;
@list-selected-color: @text-color-inverse;
@list-focused-color: @text-color;

@toolbar-background-color: @g-bg0h;
@panel-background-color: @g-bg0h;
